<div class="main">
    <div class="nav">
        <a [routerLink]="['/list']">Go back to Surveys</a>
    </div>
    <div class="content">
      <h2>{{ survey?.question }}</h2>
      <p>Click the Vote button to chose one.</p>
      
      <table>
        <thead>
          <tr>
            <th>Option</th>
            <th>Current Vote Count</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let option of survey?.options; let i = index">
            <td>{{ option.option }}</td>
            <td>{{ option.result }}</td>
            <td><button (click)="vote(option._id,survey?._id)">Vote</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>