<div class="main">
  <div class="nav">
      <a [routerLink]="['/list']">Cancel</a>
  </div>
  <div class="content">
    <h2>Enter your question and options below:</h2>

    <form (submit)="form.valid && onSubmit($event, form)" #form='ngForm'>
      <label for="question">Question:</label>
      <input type="text" name="question" id="question" required minlength="8" [(ngModel)]="survey.question">

      <label for="option1">Option 1:</label>
      <input type="text" name="option1" id="option1" required minlength="3" [(ngModel)]="option1">
      
      <label for="option2">Option 2:</label>
      <input type="text" name="option2" id="option2" required minlength="3" [(ngModel)]="option2">

      <label for="option3">Option 3:</label>
      <input type="text" name="option3" id="option3" required minlength="3" [(ngModel)]="option3">

      <label for="option4">Option 4:</label>
      <input type="text" name="option4" id="option4" required minlength="3" [(ngModel)]="option4">

      <button *ngIf='form.valid'>Submit</button>
    </form>
  </div>
</div>